backup/

openrouter_api.md
intern_api.md
new_api.md

intern_guide.md
intern.ipynb
new.ipynb

data_search/
problem/
program_01claude/
program_02gemini/
program_03gpt/
program_11claude/
program_template/



paper/
PAINT_GUIDE_4.md/
workflow_all.md
workflow_single.md

